/*
    Online Canteen System 
*/

/* Global*/
*{
    margin: 0;
    padding: 0;
    font-family: DK Crayon Crumble;
}  

/* Background Image:- Failed
1. appying background image on body  
body{
    background-image: url("Photo/blackboard.jpg");
}

2.using div id: bg
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
*/
.background{
    background: rgba(0, 0, 0, 0.7) url('../Photo/blackboard.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

/*Experiment
.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
*/

.main_title{
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    color: whitesmoke;
}

.small_heading{
    font-weight: bold;
    font-size: 50px;
}
/* Text alignment begins here */
.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}
/* Text alignment Ends here */


.clearfix{
    clear: both;
    float: none;
}

/* Image Respolution */
.image_res{
    width: 100%;
    height: 100%;
}

.credit{
    color: bisque;
}

.food{
    display: flex;
    color: white;
}
.food_img{
    width: 30%;
    /* flex-direction: column; */
    /* justify-content: right;  */
}

.food_img img{
    width: 50%;
    /* width: 300px;    */
    /* height: auto; */
    /* border: 3px solid black; */
    /* border-radius: 150px; */
    /* text-align: center; */
    /* padding: 5px; */
    /* position: relative;  */
    /* left: 115%; */
    /* display: flex; */
    /* display: block; */
    /* margin: auto; */
}

.food_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drink{
    display: flex;
    flex-direction: row-reverse;
    color: white    ;
}

.drink_img{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.drink_img img{
    width: 50%;
}

.drink_section{
    width: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CSS For Navigation Bar Satrts Here*/
.nav_bar{
    width: 100%;
    display: flex;
    border: 0.1px solid #818589;
    background-color:#71797E;
    align-items: center;
    /* overflow: hidden; */
    position: sticky;
    top: 0;
}

.logo{

    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #bbb; */
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}


.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 26px 30px;
    /* border-right: 2px solid #bbb; */
}

.menu ul li a{
    text-decoration: none;
    color: antiquewhite;
}

.menu ul li a:hover{
    color:#900C3F;
}

.right_nav{
    text-decoration: none;
    width: 50%;
    text-align: right;
}

/* CSS For Navigation Bar Ends Here*/

.underline {
    text-decoration: underline;
    background-repeat: repeat-x;
  }
/*.underline_chalk{
     background-image: url("https://flyclipart.com/thumb2/chalk-brush-transparent-png-image-613235.png");
    /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/star.svg");
    background-size: 16px 10px;*/
    /*background-position: 0 1.06em;
    background-size: 46px 1px; 
}*/